.main{
margin: auto;
display: flex;
justify-content: center;
flex-direction: column;
}

.text-line{
text-decoration: line-through;
width: 90%;
}

.text{
  width: 90%;
}

.task{
  display: flex;
  justify-content: baseline;
  width: 500px;
  margin: auto;
}

h1{
  margin: auto;
}

input{
  width: 70%;
}

.input-one{
  margin: auto;
}

.input-checkbox{
  width: 10%;
}

.text-block{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tasks-block{
  margin-top: 20px;
}

.button-delete{
  border-radius: 50%;
  background-color: red;
  font-size: 18px;
}

img{
  width: 25px;
  height: 25px;
}

.newText{
  width: 100%;
  display: flex;
  justify-content: space-between;
}